.snackbar-error-message {
    color: white;
    font-size: 15px;
}
.snackbar-error-content {
    display: flex;
    align-items: center;
}

button {
  margin-left: 15px;
}
mat-icon {
  margin-right: 8px;
}
  