<h2 mat-dialog-title>Increase quantity of {{data.name}}</h2>
<mat-dialog-content>
  <p>Current quantity: {{data.quantity}}</p>
  <mat-form-field class="full-width">
    <mat-label>Increase by</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="increasedValue" #input="ngModel" /> 
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onNoClick()">Cancel</button>
  <button matButton [mat-dialog-close]="increasedValue()" [disabled]="input.invalid" cdkFocusInitial>Save</button>
</mat-dialog-actions>